# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/
build/

# Environment files
.env
.env.prod
.env.localR
.env.*.local
.env.development
.env.staging
.env.production
.env.wallet.example
docker-compose.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal

# Temporary files
tmp/
temp/

/generated/prisma
